# AIs
.agents/
.skills-lock.json
.playwright-mcp

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
.claude/
.opencode/
.vscode/
specs/
.mcp.json
opencode.json
.env